<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <img src="imgs/bearded-man-wearing-helmet-sunglasses--removebg.png" alt="" width="30%" height="70%" class="bgvect" style="z-index: 5;bottom: 0%;right: 7%;">
    <img src="imgs/Group 4.png" alt="" width="40%" height="20%" class="bgvect" style="z-index: 4;bottom: 22%;right: 6%;">
    <img src="imgs/Vector 15.png" alt="" width="14%" height="23%" class="bgvect" style="right: 4%; bottom: 18%;">
    <img src="imgs/Vector 14.png" alt="" width="25%" height="20%" class="bgvect" style="right: 20%; bottom: 18%;">
    <div class="cardcon">
        <div class="card">  
            <div class="nav">
                <div class="logo">MappIT</div>
                <div class="options">
                    <button class="normalbut">Home</button>
                    <button class="normalbut">Services</button>
                    <button class="normalbut">Team</button>
                    <button class="logbut" onclick="location.href='/login'">Login</button>
                </div>
            </div>
            <div class="desc">
                <div class="text">
                    <div style="font-size: 1rem;font-weight: 800;">Tired of manually tracking your scooter or motorcycle rides? </div>
                    <div style="font-size: 1.5rem;font-weight: 1000;"> Want insights into your stops, distance, and efficiency?</div> 
                    <div style="font-size: 2.5rem;font-weight: 1200; font-family: 'Poppins', sans-serif;color: white;">Download  MappIT!</div> 
                    <div>Our app seamlessly tracks your rides, analyzes stops for optimization, and lets you replay your adventures on a map. Get valuable ride reports, stay informed with local traffic, find nearby services, and connect with fellow riders.</div>
                    <div>Experience the freedom of effortless ride tracking with MappIT today!</div> 
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>