<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="veiw.css">
    <title>Document</title>
</head>
<body>
    <div class="cardcon">
        <div class="card">
            <div class="nav">
                <div class="logo">MappIT</div>
                <div class="options">
                    <button class="normalbut">Home</button>
                    <button class="normalbut">Services</button>
                    <button class="normalbut">Team</button>
                    <div class="accdet">
                        <img src="imgs/Profile-Pic.png" alt="">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tasklabel">
        Task #1564268 
    </div>
    <div class="btncon">
        <div class="btnarea">
            <div class="togbtn">
                <button>Flow Chart</button>
                <button>Maps</button>
            </div>
        </div>
    </div>
    <div class="veiwcon">
        <div class="veiwarea">
            <div class="veiw">
                
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/34b63b38cf.js" crossorigin="anonymous"></script>

</body>
</html>